@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


body {
    background-color: #f1edb2;
    height: 100vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    white-space: nowrap;    
    color: #75B79E;
    margin-top: 40px;
     
}





.container {
   box-sizing: border-box;
    width: 1000px;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 47px;
    align-items: center;
    justify-content: center;
  }

  .memory-card{
    width: 120px;
    height: 146px;
    margin: 5px;
    border-radius: 5px;
    position: relative;
    
    }

  .front,
  .back {
    width: 100%;
    height: 100%;
    background:  #A7E9AF;
   
    }
  
    .virar .front {
        transform: rotateY(-180deg);
      }

    .back {
        transform: rotateY(180deg);
      }
    
      .virar .back {
        transform: rotateY(0deg);
      }
    
      .face {
        width: 100%;
        height: 100%;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        display: flex;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
        position: absolute;
      }
 